.lesson-title {
  font-weight: 600;
}

.landing-link {
    color: inherit;
}

body {
  background: #f2f2f2;
}

h2 {
  font-size: 2.5rem;
}

.console {
  font-family:Courier;
  color: #CCCCCC;
  background: #000000;
  border: 3px double #CCCCCC;
  padding: 10px;
}

table {
  font-size: 12px;
  background-color: white;
}

.box{
    width: 100%;
}

.large {
  font-size: 2rem;
}

.vocab {
  color: #9b0428;
  font-weight: bold;
  background-color: lighten(#9b0428, 65);
}

.photo-container { 
    width: 100%; 
    overflow: hidden; 
}
.photo-container img { 
    width: 100%;
}

.code {
  font-family: monospace;
}