<% unless @attempt.nil? ||  @attempt.results.empty? %>
  <div style="height:440px;overflow-y:auto;">
  <table class="table bordered highlight">
    <thead>
      <tr>
        <% @attempt.results.first.each do |key, value| %>
          <th class="collection-item active"><%= key %></th>
        <% end %>
      </tr>
    </thead>
    <% @attempt.results.each do |row| %>
    <tr>
      <% row.each do |key, value| %>
      <td><%= value %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>