ul.collapsible[data-collapsible="accordion"]
  li
    .collapsible-header
      i.material-icons dashboard
      | Click to toggle available tables
    .collapsible-body.center-align
      a[href="https://www.kaggle.com/somnambwl/book-awards" target="blank"] goodreads
      br
      a[href="https://www.kaggle.com/residentmario/ramen-ratings" target="blank"] ramen
      br
      a[href="https://www.kaggle.com/jsphyg/tipping" target="blank"] tips
      br
      a[href="https://www.kaggle.com/dhruvildave/google-trends-dataset" target="blank"] trends
      br
      a[href="https://www.kaggle.com/c/titanic" target="blank"] titanic