<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">dashboard</i>Click to show available tables</div>
    <div class="collapsible-body center-align">
      <a href="https://www.kaggle.com/somnambwl/book-awards">goodreads</a>
      <a href="https://www.kaggle.com/residentmario/ramen-ratings">ramen</a>
      <a href="https://www.kaggle.com/jsphyg/tipping">tips</a>
    </div>
  </li>
</ul>

