<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">dashboard</i>Click to toggle available tables</div>
    <div class="collapsible-body center-align">
      <a href="https://www.kaggle.com/somnambwl/book-awards" target="blank">goodreads</a><br>
      <a href="https://www.kaggle.com/residentmario/ramen-ratings" target="blank">ramen</a><br>
      <a href="https://www.kaggle.com/jsphyg/tipping" target="blank">tips</a><br>
      <a href="https://www.kaggle.com/dhruvildave/google-trends-dataset" target="blank">trends</a>
    </div>
  </li>
</ul>

