<form class="console right-align">
  <h6 class="left-align">Type your SQL statement here:</h6>
  <textarea style="height: 150px;" name="attempt"><%= @attempt.submission if @attempt %></textarea>
  <input  class="black-text" type="submit">
</form>