<div style="padding: 20px">
  <h2 class="center-align">Try Data with SQL</h2>
</div>
<p style="font-size: 17px" class="center-align">
  Learn and practice writing SQL statements through a series of guided lessons and exercises built on top of data sets from <a href="https://www.kaggle.com/">kaggle.com</a>. 
</p>
<br>
<div class="row">
  <a class="landing-link center-align" href="/lessons/1">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <i class="large material-icons">work</i>
        </div>
        <div class="card-content">
          <h4 style="font-weight: bold">Lessons</h4>
          <p>
            Each of the <%= Lesson.total %> lessons includes an explanation, a few examples, and a few things to try out.
          </p>
          <br>
        </div>
      </div>
    </div>
  </a>
  <a class="landing-link center-align" href="/playground">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <i class="large material-icons">games</i>
        </div>
        <div class="card-content">
          <h4 style="font-weight: bold">Playground</h4>
          <p>
            Want to try out SQL statements using the Kaggle datasets? The playground provides a blank canvas for testing your SQL skills. 
          </p>
          <br>
        </div>
      </div>
    </div>
  </a>
</div>
