<div style="padding: 20px">
  <h1 class="center-align">Try Data</h1>
</div>
<div>
  <h2>Welcome!</h2>
  <ol>
    <li>Please sign in here: <a target="blank" href="https://bit.ly/2RSfBGC">bit.ly/2RSfBGC</a>
    <li>Open up <a target="blank" href="https://try-data.turing.io">try-data.turing.io</a></li>
    <li>Change Zoom display name to first name, last initial, pronouns; ie - Rachel W. (she/her)</li>
  </ol>
</div>
<div>
  <h2>What to expect</h2>
  <p>Over the course of the day, we will learn how to write SQL statements to query datasets and answer data questions using a comination of Python and SQL. We will ask you to introduce yourself, ask questions, and occasionally share out answers to the technical work we do! Below is our agenda for the day (all times in MST):</p>
  <ul>
    <li>15 min - Welcome and Introduction, and Instruction.</li>
    <li>75 min - Instruction.</li>
    <li>30 min - Break and Turing School information.</li>
    <li>75 min - Instruction</li>
    <li>15 min - Wrap Up and Questions</li>
  </ul>
</div>
<div>
  <h2>Learning Norms</h2>
  <ol>
    <li>No question is too small. No question is a bad question. Ask them! Type into the group chat box and a TA will answer you. Avoid direct messages to a TA unless it is a specific issue only to yourself.</a>
    <li>We all benefit from each others ideas! Push yourself to share out and make sure you aren't sharing so much that others don't have the space to do so.</li>
    <li>Mute yourself unless you're talking.</li>
    <li>Keep your camera on during class and breakout sessions; ok to turn off during independent work time</li>
    <li>Disconnected? Jump back on! If the host or TAs get disconnected, hold tight, and the session will resume shortly.</li>
    <li>You might be sharing your screen with your team at some point during the class -- if you have anything open that you don't want to accidentally share, close or minimize it now.</li>
  </ol>
</div>
<div>
  <h2>Introductions</h2>
  <ol>
    <li>Name and pronouns</li>
    <li>Where you're from</li>
    <li>Why you're spending the day getting a taste of data analytics</li>
    <li>Optional: Most interesting or boring fact</li>
  </ol>
</div>
<div>
  <h2>After Try Data</h2>
  <p>At the end of this workshop, we would love to hear your comments and feedback. These will help us improve the experience of future workshops. To do so, please fill our feedback survey here: <a target="blank" href="https://bit.ly/3tJ4huy">https://bit.ly/3tJ4huy</a>.
  <p>Thank you!</p>
</div>
<div class="row">
  <h2>Curriculum</h2>
  <a class="landing-link center-align" href="/lessons/1">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <i class="large material-icons">storage</i>
        </div>
        <div class="card-content">
          <h4 style="font-weight: bold">SQL</h4>
          <p>
            Each of the <%= Lesson.total %> lessons includes an explanation, a few examples, and exercises to try out.
          </p>
          <br>
        </div>
      </div>
    </div>
  </a>
  <a class="landing-link center-align" href="/jupyter">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <i class="large material-icons">laptop_chromebook</i>
        </div>
        <div class="card-content">
          <h4 style="font-weight: bold">Python + Jupyter</h4>
          <p>
            NEED DESCRIPTION
          </p>
          <br>
        </div>
      </div>
    </div>
  </a>
  <a class="landing-link center-align" href="/playground">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <i class="large material-icons">games</i>
        </div>
        <div class="card-content">
          <h4 style="font-weight: bold">Playground</h4>
          <p>
            The playground provides a blank canvas for testing your SQL skills using Kaggle datasets. 
          </p>
          <br>
        </div>
      </div>
    </div>
  </a>
</div>
